
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: var(--text-grey-black);
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    position: relative;
    font-family: "Source Sans 3", sans-serif;
    font-weight: <weight>;
    font-style: normal;
    font-optical-sizing: auto; /* check how to works this line */
    font-size: 1rem;
}

li {
    list-style-type: none;
}

h1, h2, h3, ul, li, a, p {
    margin: 0;
    padding: 0;
}
p {
    display: inline-block;
}
a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
strong {
    font-weight: inherit;
    font-size: inherit;
}
h3 {
    color:#222;
}
.text-shadow {
    text-shadow: 0 0 3px #ffff;
}
.box-shadow {
    text-shadow: 0 0 3px #ffff;
}

/* ==========================================================================
   COLOR : ROOT
   ========================================================================== */
:root {
    --text-grey-black: rgba(34, 34, 34, 1);
    --text-white: rgba(230, 230, 230, 1);
    --purple: rgba(120, 70, 233, 1);
    --primary-white: rgba(250, 250, 250, 0.97);
    --primary-white-no-filter: rgba(250, 250, 250, 1);
    --text-white-grey-blue: rgba(238, 238, 255, 1);
    --blue-link: rgba(0, 0, 255, 0.75);
    --blue-link-0: rgba(68, 68, 255, 0.75);
    --pink-purple-withe: #cbabff;
}
/* ==========================================================================
   HEADER SECTION
   ========================================================================== */

header {
    display: flex;
    background-color: var(--primary-white);
    position: fixed;
    min-height: 8rem;
    max-height: 8rem;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    border-top: 1px solid rgba(256, 256, 256, 0.5);
    box-shadow: 0 1px 1px 1px rgba(256, 256, 256, 0.2);
    transition: 0.5s ease;
    z-index: 1000;
}

/* Logo & Name Section */
.logo-name {
    display: flex;
    min-width: 18rem;
    margin: 0;
    padding: 0;
    /* background-color: #6f86ff; */ /* only activate on test */
}

.logo-name > img {
    display: inline-block;
    background-color: rgba(120, 70, 233, 1);
    border-radius: 3rem;
    min-height: 5rem;
    max-height: 5rem;
    min-width: 5rem;
    max-width: 5rem;
    margin: 0 1rem 0 2rem;
    transition: 0.5s ease;
    border: 0.0625rem solid rgba(120, 70, 233, 0.25);
    box-shadow: 0 1px 1px 1px rgba(256, 256, 256, 0.2);
}

.logo-name > p {
    display: inline-block; /* same that .logo>img */
    min-width: 11rem;
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 0.02rem;
    color: rgba(120, 70, 233, 1);
    /* color: var(--text-grey-black); */
    text-shadow: 1px 1px 1px rgba(120, 70, 233, 0.1);
    margin: auto 0; /* keep text center and aline with logo-name and img */
}

/* ==========================================================================
   NAVIGATION SECTION
   ========================================================================== */

nav {
    padding: 0;
    display: flex;
    height: 8rem; /* same then header */
    width: 100%;
}

nav > .menu-large {
    /* display: flex;  */ /* already in @media keep in comment to keep responive */
    min-width: 100%;
    margin: 0;
    padding-right: 2.5rem;
}

nav > .menu-large > ul {
    display: flex;
    min-width: 100%;
    justify-content: flex-end; /* put all the li at by the end */
    align-items: center;
}

nav > .menu-large > ul > li {
    color: #333;
    padding-left: 2rem; /* padding right already set with:  nav>.menu-large */
}

nav > .menu-large > ul > li > a {
    color: #333; /* a was reset by --- a { color: inherit; } at top of css page */
    padding-left: 1rem; /* padding right by nav>.menu-large */
    font-weight: 600;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.02rem;
    transition: 0.2s ease;
}

nav > .menu-large > ul > li > a:hover {
    color: rgba(120, 70, 233, 1);
    text-decoration: 2px underline;
    transform: scale(1.02);
}

nav > .menu-large > ul > li > a:active {
    color: rgba(120, 70, 233, 1);
    text-decoration: 2px underline;
    transform: scale(0.99);
}

/* Mobile Off-Screen Menu */
.off-screen-menu {
    /* display: flex; */ /* already in @media */
    position: absolute;
    top: 7rem;
    width: 100%;
    max-width: 768px;
    min-height: 10rem;
    right: -768px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    transition: 0.5s ease;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

.off-screen-menu > ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.off-screen-menu > ul > li {
    display: flex;
    background-color: #fafafaee;
    justify-content: center;
    align-content: center;
    margin: auto;
    min-width: 100vw;
    text-align: center;
    box-shadow: 0 0 2px rgba(256, 256, 256, 0.6);
}

.off-screen-menu > ul > li > a {
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
    margin: 0;
    padding: 0;
    transform: 0.3s ease;
}

.off-screen-menu > ul > li > a:hover {
    color: rgba(120, 70, 233, 1);
    transform: scale(1.01);
    text-decoration: underline;
}

.off-screen-menu > ul > li > a:active {
    color: rgba(120, 70, 233, 1);
    transform: scale(0.99);
}

.off-screen-menu > ul > li:nth-child(1) {
    margin: 0;
    padding: 0.7rem;
    border-bottom: 1px solid rgba(120, 70, 233, 01);
    border-top: 1px solid rgba(120, 70, 233, 0.78);
}
.off-screen-menu > ul > li:nth-child(2) {
    margin: 0;
    padding: 0.7rem;
    border-bottom: 1px solid rgba(120, 70, 233, 1);
}
.off-screen-menu > ul > li:nth-child(3) {
    margin: 0;
    padding: 0.7rem;
    border-bottom: 1px solid rgba(120, 70, 233, 1);
}
.off-screen-menu > ul > li:nth-child(4) {
    margin: 0;
    padding: 0.7rem;
    border-bottom: 1px solid rgba(120, 70, 233, 1);

}
/* Hamburger Menu */
.ham-menu {
    height: 50px;
    width: 50px;
    margin: auto 2rem auto auto; /* to push to the rigth and keep center into Header */
    position: relative;
    transition: 0.5s ease;
}

.ham-menu span {
    min-height: 0.25rem;
    max-height: 0.25rem;
    width: 100%;
    background-color: rgba(120, 70, 233, 1);
    border-radius: 10px;
    position: absolute;
    top: 50%; /* place the left part of the span at the midle of the element */
    left: 50%; /* place the left part of the span at the midle of the element */
    transform: translate(-50%, -50%); /* place the element span at the center by is own center */
    transition: 0.4s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(2) {
    top: 50%;
    transition: 0s ease;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

/* ==========================================================================
   MAIN CONTENT SECTION
   ========================================================================== */


   /* ========================== SECTION HOME ========================= */

#home {
    display: flex;
    min-height: 100vh;
    min-width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    background: linear-gradient(rgba(255,255,255,0.65), rgba(255,255,255,0.65)), /* white overlay */
    url("./images/purp-background-2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main {
       position: relative;
}

#home > .svg { /* svg social media */
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: -2.5rem; /* half of min-width to keep 0 left edge */
    top: 40vh;
    translate: 50% 0;   /* X Y */
    min-height: 14rem ;
    min-width: 5rem; /* double of min-width to keep 0 left edge */
    max-width: 5rem; /* double of min-width to keep 0 left edge */
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 0 0.3rem 0.3rem 0;
}

.svg {
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.2);
}

.svg > a {
    display: inline-block;
    min-width: 3rem;
    min-height: 3rem;
}

.svg > a:nth-child(1) {
    margin: 0.75rem 0 1.25rem 0;
    padding: 0;
}
.svg > a:nth-child(2) {
    margin: 0 0 1.25rem 0;
    padding: 0;
}
.svg > a:nth-child(3) {
    margin: 0 0 0.5rem 0;
    padding: 0;
}

.svg > a > .icon-git {
    display: inline-block;
    background-image: url('./images/svg.color/svg-before/github-before.svg');
    min-width: 3rem;
    min-height: 3rem;
    transition: 0.2s ease;
}

/* svg > .hover > path {
    fill: #222;
} */
.svg > a > .icon-youtube {
    display: inline-block;
    background-image: url('./images/svg.color/svg-before/youtube-before.svg');
    min-width: 3rem;
    min-height: 3rem;
    transition: 0.2s ease;
}
.svg > a > .icon-indeed {
    display: inline-block;
    background-image: url('./images/svg.color/svg-before/indeed-before.svg');
    min-width: 3rem;
    min-height: 3rem;
    transition: 0.2s ease;
    }
.svg > a > .icon-git:hover {
    display: inline-block;
    background-image: url('./images/svg.color/svg-hover/github-hover.svg');
    min-width: 3rem;
    min-height: 3rem;
    transform: scale(1.05);
}
.svg > a > .icon-youtube:hover {
    display: inline-block;
    background-image: url('./images/svg.color/svg-hover/youtube-hover.svg');
    min-width: 3rem;
    min-height: 3rem;
    transform: scale(1.05);
}
.svg > a > .icon-indeed:hover {
    display: inline-block;
    background-image: url('./images/svg.color/svg-hover/indeed-hover.svg');
    min-width: 3rem;
    min-height: 3rem;
    transform: scale(1.05);
    }
/* .svg > a > .icon-git:active {
    display: inline-block;
    background-image: url('./images/svg.color/svg-active/github-active.svg');
    min-width: 3rem;
    min-height: 3rem;
    transform: scale(0.99);
} */
.svg > a > .icon-youtube:active {
    display: inline-block;
    background-image: url('./images/svg.color/svg-active/youtube-active.svg');
    min-width: 3rem;
    min-height: 3rem;
    transform: scale(0.99);
}
.svg > a > .icon-indeed:active {
    display: inline-block;
    background-image: url('./images/svg.color/svg-active/indeed-active.svg');
    min-width: 3rem;
    min-height: 3rem;
    transform: scale(0.99);
    }

.home-paragraph {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    max-height: 100vh;
    align-items: center;
    justify-content: center;
}

.home-paragraph h1 {
  max-width: 50%;
  text-align: center;
  font-size: 3.5rem;
  padding: 0;
  margin: 7rem;
  margin-bottom: 1rem;
}
.home-paragraph h2 {
    max-width: 70%;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.025rem;
    word-spacing: 0.05rem;
    text-align: center;
    padding: 0;
    margin: 1rem;
}

.home-paragraph h2 .UI-UX {
    font-size: inherit;
    font-weight: inherit;
    word-spacing: -0.2rem;
}

button {
    max-width: 50%;
    max-height: min-content;
    text-align: center;
    font-weight: 500;
    margin: 4rem auto;
    padding: 0;
    color: var(--primary-white);
    background-color: rgba(120, 70, 233, 1);
    border-radius: 0.35rem;
    border: 1px solid #6668;
    transition: 0.2s ease;
}

button a {
    padding: 0.75rem 3rem; /* padding into the a to made all area button clicable */
    display: inline-block;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    text-shadow: 1px 1px #ffffff33;
    width: 100%;
}
.home-paragraph button {
    margin: 4rem auto;
    padding: 0;
}

.home-paragraph button a {
    padding: 0.75rem 3rem; /* padding into the a to made all area button clicable */
}

.home-paragraph button:hover {
    transform: scale(1.03);
}
.home-paragraph button:active {
    transform: scale(0.99);
}
.home-paragraph button {
    transform: scale(1.02);
}



/* ========================== SECTION ABOUT ========================= */



#about, #project, #contact {
    display: flex;
    height: auto;
    position: relative;
    min-width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg,  rgba(188, 152, 255, 1) 0%, rgba(188, 152, 255, 0.75) 15%, rgba(188, 152, 255, 0.5) 30%, rgba(188, 152, 255, 0.5) 100%);
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

#about > .about-header, #project > .project-header, #contact > .contact-header {
    display: flex;
    max-height: auto;
    min-width: 100%;
    position: relative;
    padding-top: 8rem;
    top: 0;
    flex-direction: column;
    transition: 0.5s ease;
}

#about .about-header > *, #project > .project-header > *, #contact > .contact-header > *{
    margin-left: auto;
    margin-right: auto;
    padding: 0; 
}

#about .about-header > h2, #project > .project-header > h2, #contact > .contact-header > h2 {
    font-size: 2.75rem;
    letter-spacing: 0.085rem;
    word-spacing: 0.2rem;
    text-shadow: 0px 0px 1px #fff;
}

#about .about-divider, #project .project-divider, #contact .contact-divider {
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: var(--blue-link);
    margin: 1rem auto 1.25rem; /* top(1)-----left&nbsp;rigth(2)-----bottom(3) */
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 1px 1px rgba(256, 256, 256, 0.2);
}
#about .about-header > p, #project > .project-header > p, #contact .contact-header > p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-weight: 500;
    padding-bottom: 2%;
    text-shadow: 0px 0px 1px #fff;
}

#about > .about-header > h2, #about .about-header > p, #project > .project-header > h2, #project > .project-header >p, #contact > .contact-header > h2, #contact > .contact-header >p {
    width: min(50rem,85%);
    text-align: center;
}

#about > .about-content, #project > .project-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
}

#about > .about-content > .about-left  {
    display: flex;
    flex-direction: column;
    width: min(45rem,50%);
    height :auto;
}
#about > .about-content > .about-right  {
    display: flex;
    flex-direction: column;
    width: min(35rem,37%);
    height :auto;
}
#project > .project-content > * {
    display: flex;
    flex-direction: column;
    width: min(45rem,45%);
    height :auto;
}

/*************************************  ABOUT LEFT & PROJECT-RIGHT  *********************************/

#about > .about-content > .about-left, #project > .project-content > .project-right {
    height: auto;
    display: flex;
}

#about > .about-content > .about-left > h3, #project > .project-content > .project-right > h3 {
    display: inline-block;
    font-size: 2rem;
    margin: 0;
    padding: 0 0 2rem 0;
}
#about > .about-content > .about-left > p, #project > .project-content > .project-right > p {
    display: inline-block;
    font-size: 1.2rem;
    color: #333;
    margin: 0;
    padding: 0 9% 0 0;
}
#about > .about-content > .about-left > p > .strong {
    font-weight: 700;
}
#about > .about-content > .about-left > p > a > .strongLink {
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 0.04rem;
    color: var(--blue-link);
    text-decoration: 2px solid underline;
}
#about > .about-content > .about-left > button, #project > .project-content > .project-right > button {
    margin-left: 0;
    margin-right: auto;
    padding: 0;
    margin: 2rem auto 4rem 0;
    background-color: var(--purple);
    box-shadow: 0 0 2px 1px rgba(256, 256, 256, 0.4);
    transition: 0.3s ease;
}

#about > .about-content > .about-left > button:hover, #project > .project-content > .project-right > button:hover{
    transform: translate(0px, -2px) scale(1.02);
}
#about > .about-content > .about-left > button:active, #project > .project-content > .project-right > button:active {
    transform: scale(1);
}
.contactButton {
    padding:0.7rem 1.4rem;
    font-family: "Source Sans 3", sans-serif;
    text-shadow: none;
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0;
}

/**************************************** ABOUT RIGHT & PROJECT LEFT ***********************************/

#about > .about-content > .about-right,  #project > .project-content > .project-left {
    /* background-color: blue;  */
    display: flex;
    height: auto;
    margin: 0;
    padding: 0 0 2rem 0;
}

#about > .about-content > .about-right > h3 {
    display: inline-block;
    font-size: 2rem;
    margin: 0;
    padding:0 0 1.5rem 0;
    text-shadow: 0 0 3px #ffff;
}

#about > .about-content > .about-right > .skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.skills-item {
    display: inline-block;
    flex-direction: row;
    background-color: #cbabff;
    padding: 0.35rem 1rem;
    margin: 0 1.15rem 1.15rem 0;
    border-radius: 0.25rem;
    box-shadow: 0 0 1px 1px #fff6;
}

.skills-item > P {
    font-weight: 600;
    font-size: 1.2rem;
}

@media (max-width: 996px) {
    #about {
        color:var(--purple);
        height: auto;
        position: relative;
        min-width: 100%;
        min-height: auto;
    }

    #about > .about-header, #project > .project-header, #contact > .contact-header {
    display: flex;
    max-height: auto;
    min-width: 100%;
    position: relative;
    padding-top: 8rem; 
    top: 0;
    flex-direction: column;
    transition: 0.5s ease;

}

    #about .about-header > *, #project > .project-header > * {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }

    #about .about-header > h2, #project > .project-header > h2 {
        font-size: 2.75rem;
        letter-spacing: 0.085rem;
        word-spacing: 0.2rem;
        text-shadow: 0px 0px 1px #fff;
    }

    #about .about-divider {
        display: block;
        width: 5rem;
        height: 0.3rem;
        background-color: var(--blue-link);
        margin: 1rem auto 1.25rem; /* top(1)-----left&nbsp;rigth(2)-----bottom(3) */
        border: none;
        border-radius: 1rem;
        box-shadow: 0 0 1px 1px rgba(256, 256, 256, 0.2);
    }
    #about .about-header > p, #project > .project-header > p {
        font-size: 1.5rem;
        margin-bottom: 2rem;
        font-weight: 500;
        padding-bottom: 2%;
        text-shadow: 0px 0px 1px #fff;
    }

    #about > .about-content, #project > .project-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
    }

    #about > .about-content > *, #project > .project-content > * {
        display: flex;
        flex-direction: column; /*996PX CHANGE ROW TO COLUMN*/
        height :auto;
    }
    #about > .about-content > .about-left {
        width: min(45rem,100%); /* when using classic or min width, OVERFLOW, but when use min() at less than 50rem or... the 99% keeps the text inside*/
        padding-left: min(2rem,5%);
        padding-right: 5%;
    }
    #about > .about-content > .about-right  {
        width: min(35rem,100%); /* when using classic or min width, OVERFLOW, but when use min() at less than 50rem or... the 99% keeps the text inside*/
        padding-left: min(2rem,5%);
        padding-right: 5%;
    }
    #project > .project-content > .project-left , #project > .project-content > .project-right   {
        width: min(50rem,99%); /* when using classic or min width, OVERFLOW, but when use min() at less than 50rem or... the 99% keeps the text inside*/
        padding-left: 5%;
        margin-right: 5%;
    }

    /************************************* ABOUT LEFT *********************************/

    #about > .about-content > .about-left, #project > .project-content > .project-right  {
        height: auto;
        display: flex;
    }

    #about > .about-content > .about-left > h3, #project > .project-content > .project-right > h3 {
        display: inline-block;
        font-size: 2rem;
        margin: 0;
        padding: 0 0 2rem 0;
    }
    #about > .about-content > .about-left > p, #project > .project-content > .project-right > p {
        display: inline-block;
        font-size: 1.2rem;
        color: #333;
        margin: 0;
        padding: 0;
    }
    #about > .about-content > .about-left > p > .strong {
        font-weight: 700;
    }
    #about > .about-content > .about-left > p > a > .strongLink {
        font-weight: 700;
        font-size: 1.2rem;
        letter-spacing: 0.04rem;
        color: var(--blue-link);
        text-decoration: 2px solid underline;
    }
    #about > .about-content > .about-left > button > .contactButton, #project > .project-content > .project-right > button > .caseStudyButton {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    #about > .about-content > .about-left > button:hover {
        transform: translate(0px, -2px) scale(1.02);
    }
    #about > .about-content > .about-left > button:active {
        transform: scale(1);
    }
    .contactButton {
        padding:0.7rem 1.4rem;
        font-family: "Source Sans 3", sans-serif;
        text-shadow: none;
        font-size: 1.3rem;
        font-weight: 600;
        margin: 0;
    }

    /**************************************** ABOUT RIGHT ***********************************/

    #about > .about-content > .about-right  {
        /* find rules just above .about-left */
    }

    #about > .about-content > .about-right > h3 {
        display: inline-block;
        font-size: 2rem;
        margin: 0;
        padding:0 0 1.5rem 0;
    }

    #about > .about-content > .about-right > .skills {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
    }

    .skills-item {
        display: inline-block;
        flex-direction: row;
        background-color: #cbabff;
        box-shadow: 0 0 1px 1px #fff6;
        padding: 0.35rem 1rem;
        margin: 0 1.15rem 1.15rem 0;
        border-radius: 0.25rem;
    }

    .skills-item > P {
        font-weight: 600;
        font-size: 1.2rem;
    }

}


/* ========================== SECTION PROJECT ========================= */

main > #project > * { /* all the child of... */
    display: flex;
}

/* ========================== SECTION CONTACT ========================= */

main > section:nth-child(4) {
    background-color: darkgreen;
}

main > section:nth-child(4) > * { /* all the child of... */
    display: flex;
}

/* ==========================================================================
   JAVASCRIPT ACTIVE STATES
   ========================================================================== */

.off-screen-menu.active {
    right: 0;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: blue;
}

.ham-menu.active span:nth-child(2) {
    display: none;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* ==========================================================================
   MEDIA QUERIES - RESPONSIVE DESIGN
   ========================================================================== */

   /* Desktop - Large Screens */
   @media (min-width: 768px) {
       .ham-menu {
           display: none;
        }
        .off-screen-menu {
            display: none;
        }
        .menu-large {
            display: flex;
        }
    }

    /* Mobile - Small Screens */
    @media (max-width: 768px) {
        .ham-menu {
            display: flex;
            height: 48px;
            width: 48px;
        margin: auto 1.8rem auto auto; /* to push to the rigth and keep center into Header */
        padding-right: 1rem;
    }
    .off-screen-menu {
        display: flex;
        top: 7.75rem; /* fit with @queries header  */
        background-color: var(--primary-white-no-filter);
    }
    .menu-large {
        display: none;
    }
    .logo-name > img {
        margin: 0 0.9rem 0 1.75rem;
    }
    header {
        min-height: 7.85rem; /* fit with @queries .offscreen-menu */
        max-height: 7.85rem;
        background-color: var(--primary-white-no-filter);
    }
    #home>.svg {
        display: none;
    }
    .home-paragraph h1 {
      max-width: 50%;
      text-align: center;
      font-size: 3rem;
      padding: 0;
      margin-top: 7rem;
      margin-bottom: 1rem;
    }
    .home-paragraph h2 {
        max-width: 70%;
        font-size: 1.9rem;
        font-weight: 700;
        letter-spacing: 0.04rem;
        text-align: center;
        padding: 0;
        margin: 1rem;
    }

    .home-paragraph button {
        max-width: 50%;
        text-align: center;
        font-weight: 500;
        margin: 3rem auto;
        padding: 0;
        color: var(--primary-white);
        background-color: rgba(120, 70, 233, 1);
        border-radius: 0.35rem;
        border: 1px solid #6668;
        transition: 0.2s ease;
    }
}

@media (max-width: 670px) {
    .ham-menu {
        height: 46px;
        width: 46px;
        margin: auto 1.6rem auto auto; /* to push to the rigth and keep center into Header */
        padding-right: 1rem;
    }
    .off-screen-menu {
        display: flex;
        top: 7.5rem; /* fit with @queries header  */
        background-color: var(--primary-white-no-filter);
    }
    .logo-name > img {
        margin: 0 0.8rem 0 1.5rem;
    }
    header {
        min-height: 7.6rem;
        max-height: 7.6rem;
        background-color: var(--primary-white-no-filter);
    }
    #home>.svg {
    display: none;
    }
    .home-paragraph h1 {
    max-width: 70%;
    text-align: center;
    font-size: 3rem;
    padding: 0;
    margin-top: 6rem;
    margin-bottom: 1rem;
    }
    .home-paragraph h2 {
        max-width: 80%;
        font-size: 1.9rem;
        font-weight: 700;
        letter-spacing: 0.04rem;
        text-align: center;
        padding: 0;
        margin: 1rem;
    }

    .home-paragraph button {
        max-width: 50%;
        text-align: center;
        font-weight: 500;
        margin: 2.5rem auto;
        padding: 0;
        color: var(--primary-white);
        background-color: rgba(120, 70, 233, 1);
        border-radius: 0.35rem;
        border: 1px solid #6668;
        transition: 0.2s ease;
    }
}
/*  */
@media (max-width: 576px) {
    .ham-menu {
        height: 42px;
        width: 42px;
        margin: auto 1.4rem auto auto; /* to push to the rigth and keep center into Header */
        padding-right: 1rem;
    }
    .off-screen-menu {
        display: flex;
        top: 7rem; /* fit with @queries header  */
        background-color: var(--primary-white-no-filter);
    }
    .logo-name > img {
        margin: 0 0.7rem 0 1.25rem;
    }
    header {
        min-height: 7.1rem; /* 0.1rem biger then .offscreen-menu to hide the border bottom and keep design border-top of the first child li above */
        max-height: 7.1rem;
    }
    #home>.svg {
    display: none;
    }
    .home-paragraph h1 {
    max-width: 98%;
    text-align: center;
    font-size: 2.5rem;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    }
    .home-paragraph h2 {
        max-width: 80%;
        font-size: 1.8rem;
        font-weight: 700;
        letter-spacing: 0.04rem;
        text-align: center;
        padding: 0;
        margin: 1rem;
    }

    .home-paragraph button {
        max-width: 60%;
        text-align: center;
        font-weight: 500;
        margin: 2rem auto;
        padding: 0;
        color: var(--primary-white);
        background-color: rgba(120, 70, 233, 1);
        border-radius: 0.35rem;
        border: 1px solid #6668;
        transition: 0.2s ease;
    }
}

.project-content > .project-left > .laptop-img > img {
    display: inline-flex;
    max-width: 100%;
}


/***********************************   CONTACT  ********************************/

#contact { /*  Background & layout for #contact With #home, #project at top of styles.css   */
    display: flex;
    flex-direction: column;
}

#contact > form {
    display: flex;
    padding: min(3rem,5%); /* wow it's working :) */
    flex-direction: column;
    width: min(60rem,90%);
    border-radius: 0.5rem;
    background-color: rgb(240,240,255);
    margin-bottom: 4rem;
    box-shadow: 0 0 2 blue;
}
#contact > form > label > p {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
}
#contact > form > label > input, textarea {
    font-size: 1.1rem;
    display: block;
    min-width: 100%;
    padding: 0.75rem;
    margin-bottom: 0.5rem;
    background-color: var(--primary-white);
    border: 1px solid var(--primary-white);
    color: #555;
    border-radius: 0.25rem;
    text-decoration: none;
    box-shadow: 0 0 2px #99f;
}

input:focus, textarea:focus {
    outline: none;
    caret-color: var(--purple);
}
input::placeholder, textarea::placeholder {
    color: #99c;
}
input:focus::placeholder, textarea:focus::placeholder {
    color: #ffff;
}



/************************************  FOOTER  ******************************/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: auto;
    min-width: 100%;
    position: relative;
    margin: 0;
    padding: 0 2rem;
    background-color: rgb(100, 45, 179);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
}

footer > .footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 15vh;
    width: min(80rem,100%) ;
    min-height: 18vh;
}

footer > .footer-bottom {
    display: flex;
    min-height: 5vh;
    align-items: center;
    justify-content: center;
    width: min(80rem,100%) ;
    border-top: 1px solid var(--text-white-grey-blue);
    padding: 0;
    margin: 0;
    margin-bottom: 0.125rem;
    min-height: 7vh;
}
footer > .footer-bottom > div > p {
    font-size: 0.8rem;
}
footer > .footer-top > .footer-top-left {
    width: min(30rem, 60%);
    flex-direction: column;
    justify-content: center;
    min-height: auto;
}
footer > .footer-top > .footer-top-left > *, footer > .footer-top > .footer-top-right > *, .footer-bottom > div > *{
   color: rgb(248, 248, 248);
}

footer > .footer-top > .footer-top-left h2 {
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
    padding-bottom: 0.5rem;
    margin: 0;
}
footer > .footer-top > .footer-top-left p {
    padding-top:0.5rem ;
    font-size: 1rem;
    word-spacing: 0.02rem;
    margin: 0;
}

footer > .footer-top > .footer-top-right {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
}
footer > .footer-top > .footer-top-right > span {
    display: inline-block;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    padding: 0;
    padding-left: 0.55rem;
    margin-top: -0.5rem;
}
footer > .footer-top > .footer-top-right > div {
    display: inline-block;
    min-height: 1rem;
    width: 100%;
    padding-top: 0.5rem;
    margin: 0;
}
footer > .footer-top > .footer-top-right > div > a {
    display: inline-block;
    color: var(--text-white-grey-blue);
    min-height: 1.8rem; /* change also img to keep the area clicable entierely */
    min-width: 1.8rem;
    margin: 0;
    padding: 0;
}
footer > .footer-top > .footer-top-right > div > a > img {
    display: inline-block;
    filter: brightness(0) saturate(100%) invert(93%) sepia(8%) saturate(1567%) hue-rotate(202deg) brightness(103%) contrast(101%);
    min-height: 1.8rem;
    min-width: 1.8rem;
    padding: 0;
    margin: 0.25rem;
}
